{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
    Авторизация
{% endblock %}

{% block content %}

<div class="container mt-5">
    <form method="GET">
        <!-- Фильтры по возрасту, области и полу -->
        <div class="row mb-3">
            <div class="col-md-3">
                <input type="number" class="form-control" name="age_from" placeholder="Возраст от" value="{{ request.GET.age_from }}">
            </div>
            <div class="col-md-3">
                <input type="number" class="form-control" name="age_to" placeholder="Возраст до" value="{{ request.GET.age_to }}">
            </div>
            <div class="col-md-3">
                <select class="form-control" name="area">
                    <option disabled selected>Область</option>
                    {% for area in areas %}
                        <option value="{{ area }}">{{ area }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control" name="gender">
                    <option disabled selected>Пол</option>
                    <option value="Мужчина">Мужчина</option>
                    <option value="Женщина">Женщина</option>
                </select>
            </div>
        </div>

        <!-- Фильтры по типу работы, должности, опыту и уровню образования -->
        <div class="row mb-3">
            <div class="col-md-3">
                <select class="form-control" name="experience">
                    <option disabled selected>Тип работы</option>
                    {% for industry in industrys %}
                        <option value="{{ industry }}">{{ industry }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control" name="position">
                    <option disabled selected>Должность</option>
                    {% for position in positions %}
                        <option value="{{ position }}">{{ position }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <input type="number" class="form-control" name="total_experience" placeholder="Опыт работы (лет)" value="{{ request.GET.total_experience }}">
            </div>
            <div class="col-md-3">
                <select class="form-control" name="education_level">
                    <option disabled selected>Уровень образования</option>
                    {% for level in education_levels %}
                        <option value="{{ level }}">{{ level }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Фильтры по заработной плате и датам -->
        <div class="row mb-4">
            <div class="col-md-4">
                <select class="form-control" name="currency">
                    <option disabled selected>Валюта</option>
                    {% for currency in currencys %}
                        <option value="{{ currency }}">{{ currency }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <input type="number" class="form-control" name="salary_from" placeholder="Зарплата от" value="{{ request.GET.salary_from }}">
            </div>
            <div class="col-md-4">
                <input type="number" class="form-control" name="salary_to" placeholder="Зарплата до" value="{{ request.GET.salary_to }}">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4">
                <input type="date" class="form-control" name="date_from" placeholder="Дата от" value="{{ request.GET.date_from }}">
            </div>
            <div class="col-md-4">
                <input type="date" class="form-control" name="date_to" placeholder="Дата до" value="{{ request.GET.date_to|default:today }}">
            </div>
            <div class="col-md-4">
                <div class="row mb-4">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-danger w-100">Поиск</button>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'resumes:search' %}" class="btn btn-danger w-100" id="clear">Сбросить</a>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-danger w-100">Сохранить</button>
                    </div>

                </div>
            </div>
            
        </div>
    </form>
</div>

<link rel="stylesheet" href="{% static 'css/bootstrap.select.min.css' %}">

<div class="container mt-5">
    <div class="col mt-3">
        <div class="overflow-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Желаемая должность</th>
                        <th scope="col">ФИО</th>
                        <th scope="col">Возраст</th>
                        <th scope="col">Город</th>
                        <th scope="col">Пол</th>
                        <th scope="col">Сумма ЗП</th>
                        <th scope="col">Опыт работы</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resume in resumes %}
                    <tr>
                        <td>{{ resume.title }}</td>
                        <td>{{ resume.applicant.first_name }} {{ resume.applicant.last_name.0 }}.</td>
                        <td>{{ resume.applicant.age }}</td>
                        <td>{{ resume.applicant.area }}</td>
                        <td>{{ resume.applicant.gender }}</td>
                        <td>{{ resume.salary_amount }} {{ resume.salary_currency }}</td>
                        <td>{{ resume.applicant.total_experience }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% comment %} <div class="col py-4 fixed-bottom d-flex justify-content-center">
            <a href="{% url 'resumes:search' %}" class="btn btn-danger m-1" id="clear">Сбросить</a>
            <button type="submit" class="btn btn-danger m-1">Сохранить</button>
        </div> {% endcomment %}
    </div>

<div class="pagination justify-content-center mt-4">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link text-danger" href="?page=1">&laquo; первая</a>
            </li>
            <li class="page-item">
                <a class="page-link text-danger" href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link text-muted">&laquo; первая</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link text-muted">предыдущая</span>
            </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link text-danger">
                Страница {{ page_obj.number }} из {{ paginator.num_pages }}.
            </span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link text-danger" href="?page={{ page_obj.next_page_number }}">следующая</a>
            </li>
            <li class="page-item">
                <a class="page-link text-danger" href="?page={{ paginator.num_pages }}">последняя &raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link text-muted">следующая</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link text-muted">последняя &raquo;</span>
            </li>
        {% endif %}
    </ul>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const selectFilters = document.querySelectorAll('select');
        selectFilters.forEach(function(selectFilter) {
            const key = 'selected_' + selectFilter.name;
            const savedValue = localStorage.getItem(key);
            if (savedValue) {
                selectFilter.value = savedValue;
            }
            selectFilter.addEventListener('change', function() {
                localStorage.setItem(key, selectFilter.value);
            });
        });

        // Обработчик события для кнопки "Сбросить"
        const resetButton = document.getElementById('clear');
        resetButton.addEventListener('click', function() {
            localStorage.clear();  // Очистка localStorage
        });
    });
</script>



<script src="{% static 'js/jQuery3-6-0.js' %}"></script>
<script src="{% static 'js/bootstrap5-2-1.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
